.features {
  &__icon-container {
    padding: 25px;
    margin-bottom: var(--gap-pageMain-elements-text);
    background-color: var(--filter-button-background-color);
    border-radius: var(--btn-radius);
    text-align: center;
  }

  &__title {
    margin-bottom: var(--gap-pageMain-innerTitle-text);
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    &__title {
      text-align: center;
    }
    &__item:not(:last-child) {
      margin-bottom: var(--gap-pageMain-elements-text);
    }
  }

  &__text {
    line-height: calc(24 / 14);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-set-cells);

    &__item {
      flex-basis: calc((100% - var(--gap-set-cells) * 1) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      flex-basis: calc((100% - var(--gap-set-cells) * 3) / 4);
    }
  }
}
