.filter {
  display: flex;
  justify-content: center;
  margin-bottom: var(--gap-sectionTitle-content);

  .filter__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    padding: 6px 22px;

    font-family: inherit;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    background-color: var(--filter-button-background-color);
    cursor: pointer;
    border: none;
    border-radius: var(--btn-radius);
    transition: background-color var(--animation-main-time-cube),
      color var(--animation-main-time-cube), box-shadow var(--animation-main-time-cube);
  }

  &__button--padding-else {
    padding: 6px 25px;
  }

  &__button:hover,
  &__button:focus {
    color: var(--active-button-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
