.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);

  &__end-dark {
    color: var(--logo-end-dark);
  }

  &__end-light {
    color: var(--logo-end-light);
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.footer__logo {
  padding: 0;
  margin: 0px 0px 20px 0px;
}
