.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility var(--animation-main-time-cube), opacity var(--animation-main-time-cube);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) translateY(-100%) translateX(-100%) scale(0.5);
    opacity: 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0) translateX(0) scale(1);
  width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform var(--animation-main-time-cube), opacity var(--animation-main-time-cube),
    visibility var(--animation-main-time-cube);

  &-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: color var(--animation-main-time-cube), box-shadow var(--animation-main-time-cube);
  }

  &-btn__icon {
    fill: currentColor;
  }

  &-btn:hover,
  &-btn:focus {
    color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
