.register-form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--title-text-color);
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__setting {
    position: relative;
    display: block;
  }

  &__label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    color: var(--title-text-color);
    line-height: calc(16 / 14);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--btn-radius);
    transition: border-color var(--animation-main-time-cube);
    outline: none;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill var(--animation-main-time-cube);
    outline: none;
  }

  &__setting:focus-within > &__input,
  &__setting:focus > &__input,
  &__setting:hover > &__input,
  &__input:not(:placeholder-shown) {
    border-color: var(--accent-color);
  }

  &__setting:focus-within > &__icon,
  &__setting:focus > &__icon,
  &__setting:hover > &__icon,
  &__input:not(:placeholder-shown) + &__icon {
    fill: var(--accent-color);
  }

  &__message {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    color: var(--title-text-color);
    line-height: calc(16 / 14);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--btn-radius);
    transition: border-color var(--animation-main-time-cube);
    outline: none;
  }

  &__message::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus-within > &__message,
  &:focus > &__message,
  &:hover > &__message {
    border-color: var(--accent-color);
  }
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;

  &__icon-checked {
    opacity: 0;
    transition: opacity var(--animation-main-time-cube);
  }

  &__checkbox:checked + &__icons &__icon-checked {
    opacity: 1;
  }

  &__icon-unchecked {
    transition: opacity var(--animation-main-time-cube), fill var(--animation-main-time-cube);
  }

  &__checkbox:checked + &__icons &__icon-unchecked {
    opacity: 0;
  }

  &__checkbox:focus + &__icons &__icon-unchecked,
  &__checkbox:hover + &__icons &__icon-unchecked {
    fill: var(--accent-color);
  }

  &__desc {
    line-height: calc(24 / 14);
  }

  &__link {
    color: var(--accent-color);
    text-underline-offset: 2px;
  }
}

.register-form__button {
  padding: 10px 52px;
  display: block;
  margin: auto;
}
